body{margin:0; padding:0; font-size:13px; font-family:Georgia, "Times New Roman", Times, serif; background-color:#DDDDDD;}

/*----------------------------------------------HTML 5 Overrides-------------------------------------*/

/*----------------------------------------------Wrapper-------------------------------------*/

/*----------------------------------------------Generalise-------------------------------------*/

#header, #pic, #container

h1, h2, h3, h4, h5, h6{margin:0; padding:0; font-size:24px; font-weight:normal; font-style:normal; line-height:normal;}

/*----------------------------------------------Header-------------------------------------*/

#header{width:860px; height:20px; margin-left: auto; margin-right: auto; background-color:#EEEEEE; text-align: center;}
#pic{display: block; width:960px; margin-left: auto; margin-right: auto; background-color:#EEEEEE; padding:0;}

/*----------------------------------------------Content Container-------------------------------------*/

#container{}

/*--Content--*/
#container #title{width:860px; margin-left: auto; margin-right: auto; background-color:#EEEEEE; text-align: center;}
#container #txt{width:860px; margin-left: auto; margin-right: auto; background-color:#EEEEEE;}
