/* unvisited link */
a:link {
    color: #000000;
}

/* visited link */
a:visited {
    color: #666666;
}

/* mouse over link */
a:hover {
    color: #888888;
}

/* selected link */
a:active {
    color: #888888;
}

body{margin:0; padding:0; font-size:13px; font-family:Georgia, "Times New Roman", Times, serif; background-color:#DDDDDD;}

/*----------------------------------------------HTML 5 Overrides-------------------------------------*/

/*----------------------------------------------Wrapper-------------------------------------*/

/*----------------------------------------------Generalise-------------------------------------*/

#header, #pic, #container{margin-left: auto; margin-right: auto; background-color:#EEEEEE;}

h1, h2, h3, h4, h5, h6{margin:0; padding:0; font-weight:normal; font-style:normal; line-height:normal;}

/*----------------------------------------------Header-------------------------------------*/

#header{width:860px; height:20px; text-align: center; border-width: 2px; border-top-style: solid; border-right-style: solid; border-bottom-style: none; border-left-style: solid;}
#pic{display: block; width:960px; border-width: 4px; border-style: solid;}

/*----------------------------------------------Content Container-------------------------------------*/

#container{width:860px; border-width: 2px; border-top-style: none; border-right-style: solid; border-bottom-style: solid; border-left-style: solid;}

/*--Content--*/
#container #title{text-align: center;}
#container #txt{}

