body{margin:0; padding:0; font-size:13px; font-family:Georgia, "Times New Roman", Times, serif; background-color:#DDDDDD;}

/*----------------------------------------------HTML 5 Overrides-------------------------------------*/

/*----------------------------------------------Wrapper-------------------------------------*/

/*----------------------------------------------Generalise-------------------------------------*/

#header, #pic, #container{margin-left: auto; margin-right: auto; background-color:#EEEEEE;}

h1, h2, h3, h4, h5, h6{margin:0; padding:0; font-weight:normal; font-style:normal; line-height:normal;}

/*----------------------------------------------Header-------------------------------------*/

#header{width:860px; height:20px;  text-align: center;}
#pic{display: block; width:960px;}

/*----------------------------------------------Content Container-------------------------------------*/

#container{width:860px;}

/*--Content--*/
#container #title{text-align: center;}
#container #txt{}
